@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #F7F9FC;
}

@keyframes fall {
  0% { transform: translateY(-10vh) rotate(0deg); opacity: 1; }
  100% { transform: translateY(110vh) rotate(720deg); opacity: 0; }
}
